<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Main menu
        </p>
    </header>
    <div class="card-content">
        <div class="columns is-mobile">
            <div class="column">
                <div class="column">
                   {{#link-to "nozdiagnosis"}}
                    <div class="notification is-primary">
                     
                     <p>Start diagnosing</p>
                      
                    </div>
                    {{/link-to}}
                </div>
                <div class="column">
                    <div class="notification">
                     <p>Coming soon...</p>
                      
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="column">
                   {{#link-to "db"}}
                    <div class="notification is-info">
                      <p>DataBase</p>
                    </div>
                     {{/link-to}}
                </div>
                <div class="column">
                    <div class="notification">
                    <p>Coming soon...</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
