<div class="dig-navbar-header">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-3">
                <h1 class="title">SuperDiagnozizSln</h1>
            </div>
            <div class="column is-6">
                <input type="text" class="input" placeholder="Search...">
            </div>
            <div class="column is-3">
                <a href="#">Home</a>
                <a href="#">Help</a>
                <a href="#">Logout</a>
            </div>
        </div>
    </div>
</div>