<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Registration
        </p>
    </header>
    <div class="card-content">
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input" type="text" placeholder="Username">
            </div>
        </div>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Surname</label>
            <div class="control">
                <input class="input" type="text" placeholder="Surname">
            </div>
        </div>
        
        <div class="field">
            <label class="label">Gender</label>
            <div class="control">
                <input class="input" type="text" placeholder="">
            </div>
        </div>
        
        <div class="field">
            <label class="label">Date</label>
            <div class="control">
                <input class="input" type="date" placeholder="">
            </div>
        </div>

       <div class="field">
            <label class="label">E-mail </label>
            <div class="control">
                <input class="input" type="email" placeholder="E-mail adress">
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" placeholder="Password">
            </div>
        </div>
        <div class="field">
            <label class="label">Password confirmation</label>
            <div class="control">
                <input class="input" type="password" placeholder="Password confirmation">
            </div>
        </div>
        
        <div class="field is-grouped dig-align-center">
            <div class="control">
                <button class="button is-medium ">Create account</button>
            </div>
        </div>
    </div>
</div>
