{{welcome-navbar-header}}
<div class="section">
    <div class="container">
       <div class="columns">
           <div class="column is-3"></div>
           <div class="column">
               {{login-form}}
           </div>
           <div class="column is-3"></div>
       </div>
    </div>
</div>